/* 入力要素（全体） */
.item {
  margin-top: 1rem;
  min-height: 1.5rem;
  font-size: 1rem;
  min-width: 50rem;
}

/* 入力要素（ラベル） */
.item label{
  vertical-align: top;
  display: inline-block;
  text-align: right;
  width: 6rem;
}

.item label.linkage{
  text-align: center;
}

/* 入力要素（ラベル必須マーク） */
.item label span.required{
  color: red;
  margin-right: 1rem;
}

/* 入力要素（input） */
.item input{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
}

/* 入力要素（textarea） */
.item textarea {
  resize: none;
  margin-left: 10px;
  width: 500px;
  height: 100px;
}

/* 入力要素（ボタン） */
.item button {
  width: 5rem;
  height: 1.5rem;
  margin: 1rem
}

.item button:hover {
  transition-duration: 1000ms;
  background-color: #001aff
}

/* 入力エラーメッセージ */
li.errMsg {
  list-style:none;
  font-weight: bold;
  color: #ff0000;
  margin-top: 0.5rem;
}
