.anchor {
	display: inline-block;
	padding: 1rem 1rem;
	font-size: 1.2rem;
}
.anchor:hover  {
  transform-origin: left;
  transform: scaleX(1);
  text-decoration:underline;
  text-decoration-color:#88ff00;
}
